@font-face {
  font-family: 'caviar-dreams';
  src: local('caviar-dreams'), url(./fonts/CaviarDreams-webfont.woff) format('woff');
}

body: {
  height: 100vh;
}

div, input {
  font-family: 'caviar-dreams', sans-serif;
}

.App {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}

.logo {
  fill:orange;
}

.logoContainer {
  position: relative;

}

.logoTextWrapper {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  top: 35%;
}

.logoText {
  text-align: center;
  font-size: 2.5em;
}

.page {
  width: 100vw;
  height: 100vh;
  border-style: solid;
  border-width: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.chat {
  position: relative;
  display: inline-block;
}

.arrow {
  color: white;
  margin-right: 10px;
}

.chatContact {
  width: 96%;
  padding: 2%;
  display: flex;
  flex-direction: row;
  background-color: orange;
  color: white;
}

.flexEnd {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.history {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: white;
}

.bubble {
  margin: 10px 20px 0px 20px;
  padding: 10px 15px 10px 15px;
  width: -webkit-fit-content;
  border-radius: 25px;
  color: white;
  word-wrap: break-word;
  word-break: break-all;
  background-color: orange;
  box-shadow: 1px 0px 3px #00000040;
}

.chatBox {
  width: 100%;
  padding: 10px 20px 10px 20px;
  font-size: 1em;
  box-shadow: 0px 0px 1px lightgray;
  border-style: none;
  resize: none;
}

.textarea {
  width: 96%;
  padding: 2%;
  border-width: 1px 0px 0px 0px;
  border-style: solid;
  border-color: gray;
}

.contacts {

}

.contact {

}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loading {
  font-size: 3em;
}

.writingContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: white;
  margin-bottom: 10px;
}

.writing {
  align-self: flex-end;
  background-color: orange;
}

.addContact {

}

.scroll {
  overflow:auto;
  scrollbar-base-color:gold;
  font-family:sans-serif;
  padding:10px;
}

input, button {
  font-size: 1em;
  border-style: none;
}

.self {
  align-self: flex-start;
  background-color: #8a9598;
}

.other {
  align-self: flex-end;
  background-color: orange;
}