@import url('https://fonts.googleapis.com/css?family=Nunito');

.App {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  font-family: 'Nunito', sans-serif;
}

.page {
  min-width: 100vw;
  min-height: 100vh;
  border-style: solid;
  border-width: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.chat {
  position: relative;
  display: inline-block;
}

.arrow {
  color: white;
  margin-right: 10px;
}

.chatContact {
  height:5%;
  width: 96%;
  padding: 2%;
  display: flex;
  flex-direction: row;
  background-color: blue;
  color: white;
}

.history {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: white;
}

.bubble {
  margin: 10px 20px 0px 20px;
  padding: 10px 15px 10px 15px;
  width: -webkit-fit-content;
  border-radius: 25px;
  color: white;
  word-wrap: break-word;
  word-break: break-all;
  background-color: orange;
}

.chatBox {
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.textarea {
  width: 96%;
  padding: 2%;
  border-width: 1px 0px 0px 0px;
  border-style: solid;
  border-color: gray;
}

.contacts {

}

.contact {

}

.login {

}

.loading {
  font-size: 3em;
}

.writingContainer {

}

.writing {

}

.addContact {

}

.flexEnd {
  max-height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.scroll {
  overflow-y: scroll;
}

input, button {
  font-size: 1em;
  border-style: none;
}